* {
  font-family: "Gabarito";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

body.light {
  background-color: white;
}

body.dark {
  background-color: #AAAAAA;
}

main.main_background--dark, main.main_background--light {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

main.main_background--dark {
  background-image: url("../../assets/img/OxygenIMAGES-dark.png");
}

main.main_background--light {
  background-image: url("../../assets/img/OxygenIMAGES-light.png");
}

header {
  height: 80px;
  width: 100%;
  position: sticky;
  display: flex;
  top: 0;
  justify-content: space-between;
}
header div, header button {
  background-color: transparent;
  border: 0;
  align-self: center;
}
header > div {
  display: flex;
}
header > div > * {
  margin-right: 25px;
}

.header_light {
  background-color: #5D00C8;
  box-shadow: 0px 0px 6px 6px rgba(118, 75, 168, 0.9411764706);
}

.header_dark {
  background-color: #3C3C3C;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.6274509804);
}

h1 {
  margin: 24px;
  color: white;
  font-weight: 900;
  font-size: 24px;
  align-self: center;
}

nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
  top: 80px;
  padding: 5px 24px;
  transition: 200ms ease-in-out;
  transform-origin: top;
}
nav.deploy_nav--active {
  transform: scaleY(1);
}
nav.deploy_nav--non_active {
  transform: scaleY(0);
}
nav.nav_light {
  background-color: #5D00C8;
  box-shadow: 0px 6px 6px 0px rgba(118, 75, 168, 0.9411764706);
}
nav.nav_dark {
  background-color: #3C3C3C;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.6274509804);
}
nav a {
  color: white;
  text-decoration: none;
  text-align: left;
  align-self: flex-start;
  width: 100px;
  margin-block: 5px;
}
nav a.active {
  text-decoration: underline 2px;
}
nav a.active--dark {
  text-decoration-color: #186CB4;
}

.burger_menu {
  width: 20px;
  height: 12px;
  align-self: center;
}
.burger_menu div {
  position: relative;
  height: 2px;
  width: 20px;
  background-color: white;
}
.burger_menu .burger_menu--first {
  transition: 500ms;
  top: 0;
}
.burger_menu .burger_menu--first--crossed {
  top: 5px;
  rotate: 45deg;
}
.burger_menu .burger_menu--middle {
  transition: 500ms;
  justify-self: center;
  top: 3px;
}
.burger_menu .burger_menu--middle--crossed {
  width: 0%;
}
.burger_menu .burger_menu--last {
  transition: 500ms;
  top: 6px;
}
.burger_menu .burger_menu--last--crossed {
  top: 1px;
  rotate: -45deg;
}

@media screen and (min-width: 1000px) {
  .burger_menu {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    padding: 0;
  }
  nav.deploy_nav--active, nav.deploy_nav--non_active {
    transform: scale(1);
  }
  nav.nav_light, nav.nav_dark {
    background-color: transparent;
    box-shadow: none;
  }
  nav a {
    text-align: center;
  }
}
.about {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
h2.info_link--light {
  color: black;
}
h2.info_link--light > a {
  color: #764BA8;
  text-decoration: none;
  border-bottom: 2px solid #764BA8;
}
h2.info_link--dark {
  color: white;
}
h2.info_link--dark > a {
  color: #186CB4;
  text-decoration: none;
  border-bottom: 2px solid #186CB4;
}

.logo {
  margin-top: 40px;
  width: 40%;
  max-width: 300px;
  align-self: center;
}

.loading {
  display: flex;
  justify-content: center;
  padding-block: 60px;
  width: 100%;
  font-size: 40px;
  font-weight: 700;
}
.loading img {
  width: 40px;
  height: 40px;
  align-self: center;
  margin: 5px;
  animation: loading-spin infinite 1s linear;
}
@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1000px) {
  .loading {
    padding: 50px;
    font-size: 50px;
  }
}

/*# sourceMappingURL=index.css.map */
