* {
    font-family: "Gabarito";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 body {
    min-width: 320px;
 }

 body.light{
   background-color: white;
 }

 body.dark{
   background-color: #AAAAAA;
 }