header{
    height: 80px;
    width: 100%;
    position: sticky;
    display: flex;
    top: 0;
    justify-content: space-between;
    z-index: 5;

    div, button{
        background-color: transparent;
        border: 0;
        align-self: center;
    }

    &>div{
        display: flex;
    }

    &>div>*{
        margin-right: 25px;
    }
}

.header_light{
    background-color: #5D00C8;
    box-shadow: 0px 0px 6px 6px #764BA8F0;
}

.header_dark{
    background-color: #3C3C3C;
    box-shadow: 0px 0px 6px 6px #000000A0;
}

h1{
    margin: 24px;
    color: white;
    font-weight: 900;
    font-size: 24px;
    align-self: center;
}

nav{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    top:80px;
    padding: 5px 24px;
    transition: 200ms ease-in-out;
    transform-origin: top;

    &.deploy_nav--active{
        transform: scaleY(1.0);
    }

    &.deploy_nav--non_active{
        transform: scaleY(0.0);
    }

    &.nav_light{
        background-color: #5D00C8;
        box-shadow: 0px 6px 6px 0px #764BA8F0;
    }

    &.nav_dark{
        background-color: #3C3C3C;
        box-shadow: 0px 6px 6px 0px #000000A0;
    }

    a{
        color: white;
        text-decoration: none;
        text-align: left;
        align-self: flex-start;
        width: 100px;
        margin-block: 5px;
    }

    a.active{
        text-decoration: underline 2px;
    }

    a.active--dark{
        text-decoration-color: #186CB4;
    }
}

.burger_menu{
    width: 20px;
    height: 12px;
    align-self: center;

    div{
        position: relative;
        height: 2px;
        width: 20px;
        background-color: white;
    }

    $transition: 500ms;
    .burger_menu--first{
        transition: $transition;
        top: 0;
    }

    .burger_menu--first--crossed{
        top: 5px;
        rotate: 45deg;
    }

    .burger_menu--middle{
        transition: $transition;
        justify-self: center;
        top: 3px;
    }

    .burger_menu--middle--crossed{
        width: 0%;
    }

    .burger_menu--last{
        transition: $transition;
        top: 6px;
    }

    .burger_menu--last--crossed{
        top: 1px;
        rotate: -45deg;
    }
}

@media screen and (min-width: 1000px) {

    .burger_menu{
        display: none;
    }

    nav{
        display: flex;
        flex-direction: row;
        position: relative;
        top: 0;
        padding: 0;

        &.deploy_nav--active, &.deploy_nav--non_active{
            transform: scale(1.0);
        }

        &.nav_light, &.nav_dark{
            background-color: transparent;
            box-shadow: none;
        }

        a{
            text-align: center;
        }
    }
}